.photo-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-auto-rows: 25em;
  gap: 1em;
  padding: 16px;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}